.idea/*
venv/*
venv
build/*
docs/_build/
dist/*
*.egg

*.pyc
*.db
*.mo
.coverage

testproject/media/*
testproject/static/admin/*
testproject/static/bootstrap

settings_local.py

.tox/*
django_realestate.egg-info
*.swp
.ropeproject/

#Bower
bower_components
