{% extends 'base_theme.html' %}
{% load re_paginator render_form i18n %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            {% get_search_form %}
        </div>

        <div class="col-md-9">

            <div class="row">
                <div class="col-md-6 select_height"> Mostrando {{ results.start_index }} - {{ results.end_index }}
                    de {{ results.paginator.count }} resultados
                </div>
                <div class="pull-right">
                    <form action="{% url 'properties_for_rent' %}" id="form-sort">
                        Ordenar por :
                        <select id="sort" name="sort" class="col-md-3">
                            <option value="price">Precio: Ascendente</option>
                            <option value="-price"{% if request.GET.sort == '-price' %}
                                    selected="selected"{% endif %}>
                                Precio: Descendente
                            </option>
                        </select>
                    </form>
                </div>
            </div>

            {% for listing in results %}
                {% include 'includes/listing-box.html' %}
            {% empty %}
                <h4>{% trans "0 properties to show." %}</h4>
            {% endfor %}


            {# pagination #}
            <div class="pagination pagination-centered">
                {% pagination_url results %}
            </div>
            {# pagination #}

        </div>
    </div>

{% endblock %}