{% load i18n %}
{% if news %}
    <h3>{% trans "Noticias" %}</h3>
    <div>
        <ul id="listticker">
            {% for articule in news %}
                <li>
                    <a href="" class="news-title">{{ articule.title }} - {{ articule.date_published }}</a>
                    <span class="news-text">{{ articule.content }}</span>
                </li>
            {% empty %}
                {% trans "No hay noticias recientes." %}
            {% endfor %}
        </ul>

    </div>
{% endif %}