{% load i18n %}
<h3>{% trans "Find Your Home" %}</h3>
<!--Buscador de Propiedades-->
<form id="FormContent" action="{% url 'search' %}">
    <div class="box-search">
        <label>ID:</label>

        <div class="row-input">
            {{ form.id }}
        </div>

        <label>{% trans "Agent" %}:</label>

        <div class="row-input">
            {{ form.agent }}
        </div>

        <label>{% trans "Type" %}</label>

        <div class="row-input">
            {{ form.type }}
        </div>


        <label>{% trans "Location" %}</label>

        <div class="row-input">
            {{ form.location }}
        </div>

        <label>{% trans "Offer" %}</label>

        <div class="row-input">
            {{ form.offer }}
        </div>
        <div class="clear indent-button">
            <button class="btn btn-info">{% trans "Search" %}</button>
        </div>
        <div class="clear">
            <div class="form-text fright">
            </div>
        </div>
    </div>
</form>