<h3>Buscar Propiedad</h3>
<!--Buscador de Propiedades-->
<form id="FormContent" action="{% url 'search' %}" method="post">
    {% csrf_token %}
    <div class="box-search">
        <label>ID de la Propiedad:</label>

        <div class="row-input">
            {{ form.id }}
        </div>

        <label>Agente:</label>

        <div class="row-input">
            {{ form.agente }}
        </div>

        <label>Tipo</label>

        <div class="row-input">
            {{ form.tipo }}
        </div>


        <label>Localidad</label>

        <div class="row-input">
            {{ form.location }}
        </div>

        <label>Oferta</label>

        <div class="row-input">
            {{ form.oferta }}
        </div>
        <div class="clear indent-button">
            <button class="btn btn-info">Buscar Propiedad</button>
        </div>
        <div class="clear">
            <div class="form-text fright">
            </div>
        </div>
    </div>
</form>