<h3>Buscar Propiedad</h3>
<!--Buscador de Propiedades-->
<form id="FormContent" action="{% url 'search' %}" method="post">
    {% csrf_token %}
    <div class="box-search">
        <label>ID de la Propiedad:</label>

        <div class="row-input">
            {{ form.id }}
        </div>

        <label>T&iacute;tulo de la Propiedad:</label>

        <div class="row-input">
            {{ form.titulo }}
        </div>

        <label>Agente:</label>

        <div class="row-input">
            {{ form.agente }}
        </div>

        <label>Tipo</label>

        <div class="row-input">
            {{ form.tipo }}
        </div>

        <label>Rango de Precio</label>

        <div class="row-table">
            <div class="row-table-1 fleft">
                <label>Desde</label>

                <div class="row-input">
                    {{ form.precio_min }}
                </div>
            </div>
            <div class="row-table-2 fleft">
                <label>Hasta</label>

                <div class="row-input">
                    {{ form.precio_max }}
                </div>
            </div>
        </div>

        <label>Localidad</label>

        <div class="row-input">
            {{ form.provincia }}
        </div>

        <label>Oferta</label>

        <div class="row-input">
            {{ form.oferta }}
        </div>
        <div class="clear indent-button">
            <a href="#" class="link" onClick="document.getElementById('FormContent').submit()"> Buscar Propiedad</a>
        </div>
        <div class="clear">
            <div class="form-text fright">
            </div>
        </div>
    </div>
</form>