{% load static i18n realestateforms %}

<div class="row">
    <h4 class="span3 well">Cambiar criterios de búsqueda</h4>

    <div class="span3 well">

        <form class="form-inline mini" style="margin-bottom: 0px;" action="{% url 'search' %}">
            <fieldset>
                <div class="row">
                    <div class="span3">
                        <div class="control-group">
                            <label for="id_location" class="control-label">Provincia</label>

                            <div class="controls">
                                {{ form.location|widget_with_classes:"input-medium focused" }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="span3">
                                <div class="control-group">
                                    <label for="id_tipo" class="control-label">Tipo</label>

                                    <div class="controls">
                                        {{ form.tipo|widget_with_classes:"input-medium focused" }}
                                    </div>
                                </div>
                            </div>
                            <div class="span2 ">
                                <div class="control-group">
                                    <label for="id_oferta" class="control-label">Venta/Alq.</label>

                                    <div class="controls">
                                        {{ form.oferta|widget_with_classes:"input-medium focused" }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3">
                                <div class="control-group">
                                    <label for="id_beds" class="control-label">Dormitorios</label>

                                    <div class="controls">
                                        {{ form.beds|widget_with_classes:"input-medium focused" }}
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="control-group">
                                    <label for="id_baths" class="control-label">Baños</label>

                                    <div class="controls">
                                        {{ form.baths|widget_with_classes:"input-medium focused" }}
                                    </div>
                                </div>
                            </div>

                            <div class="span3">
                                <div class="control-group">
                                    <label for="focusedInput" class="control-label">Precio</label>

                                    <div class="controls">
                                        {{ form.precio_min|widget_with_classes:"span1" }}&nbsp;&nbsp;-&nbsp;&nbsp;
                                        {{ form.precio_max|widget_with_classes:"span1" }}
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                    <div class="row">

                        <div class="span2 pull-right" style="margin-top: 10px;">
                            <button class="btn btn-primary pull-right" type="submit">Buscar</button>

                        </div>
                    </div>

                </div>

            </fieldset>
        </form>
    </div>
</div>

