Django>=1.7,<1.8
Pillow
django-extensions
six
sorl-thumbnail
djangorestframework
django-braces
django-money
django-constance
redis
pytz
factory_boy
django-widget-tweaks
django-haystack
elasticsearch
sphinx
