django
Pillow
feedparser
south
python-twitter
sorl-thumbnail
django-debug-toolbar
django-extensions
django-seo
django-admin-tools
mysql-python
django-newsletter
surlex
django-tinymce
Werkzeug

coverage
django-coverage
decorator
ipdb
ipdbplugin
ipython
fabric
django-localeurl

-e git+https://github.com/tschellenbach/Django-facebook.git#egg=Django-facebook

pytz
