{% extends 'base_theme.html' %}

{% block content %}
    <h2>Search</h2>

    <form method="get" action=".">
        <table>
            {{ form.as_p }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>

        {% if query %}
            <h3>Results</h3>

            {% for result in page.object_list %}
                <p>
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}
                        <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous
                    {% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}
                    Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}

{% comment %}
{% extends "base_theme.html" %}
{% load static re_paginator %}
{% block content %}
    <div class="row">
        <div class="col-md-4 select_height"> Mostrando {{ page_obj.start_index }} - {{ page_obj.end_index }}
            de {{ page_obj.paginator.count }} resultados
        </div>
        <div class="pull-right">
            <form action="{% url 'search' %}" id="form-sort">
                Ordenar por :
                <select id="sort" name="sort" class="col-md-3">
                    <option value="price">Precio: Ascendente</option>
                    <option value="-price"{% if request.GET.sort == '-price' %} selected="selected"{% endif %}>Precio:
                        Descendente
                    </option>
                </select>
            </form>
        </div>
    </div>


    {% include 'includes/listing_list.html' %}


    {# pagination #}
    <div class="pagination pagination-centered">
        {% pagination_url page_obj %}
    </div>
    {# pagination #}

{% endblock %}

{% endcomment %}