{% load thumbnail %}
<div class="home_carousel no_margin_left pull-right">
    <!-- Start slideshow-carousel -->
    <div id="carousel-loader">

    </div>
    <div id="carousel" class="showcase">
        {% for listing in propiedades %}
            <div class="showcase-slide">
                <div class="showcase-content">
                    <a href="{{ listing.get_absolute_url }}">
                        {% thumbnail listing.main_image.image "590x326" crop="center" as image %}
                            <img src="{{ image.url }}" alt="{{ listing.title }}">
                        {% endthumbnail %}
                    </a>
                </div>

                <div class="showcase-caption carousel-caption">
                    <a href="{{ listing.get_absolute_url }}">
                        <h4>{{ listing.title }}</h4>

                        <p>{{ listing.description|truncatewords_html:"20" }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
    <!-- // end of slideshow-carousel -->

</div>