<h3>Propiedades <span>destacadas</span></h3>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Descripción</th>
        <th>Localidad</th>
        <th>Precio</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% for listing in listings %}
        <tr>
            <td>
                <a href="{{ listing.get_absolute_url }}" title="{{ listing.title }}">{{ listing.title }}</a>
            </td>
            <td>
                {{ listing.sector.ciudad }}
            </td>
            <td> &dollar;{{ listing.price }} </td>
            <td><a href="{{ listing.get_absolute_url }}" title="{{ listing.title }}">Ver</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>