{% load i18n %}
<h3>{% trans "Featured Properties" %}</h3>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>{% trans "Description" %}</th>
        <th>{% trans "Location" %}</th>
        <th>{% trans "Price" %}</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% for listing in listings %}
        <tr>
            <td>
                <a href="{{ listing.get_absolute_url }}" title="{{ listing.title }}">{{ listing.title }}</a>
            </td>
            <td>
                {{ listing.location.ciudad }}
            </td>
            <td> {{ listing.price }} </td>
            <td><a href="{{ listing.get_absolute_url }}" title="{{ listing.title }}">Ver</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
