{% load i18n thumbnail extra_functions %}
<div class="list-slide">
    <ul class="listings clear">
        {% for propiedad in propiedades %}
            <li{% if forloop.first %} class="first"{% endif %}>
                {% thumbnail listing.imagen_principal.imagen "210x129" crop="center" as image %}
                    <img align="middle" src="{{ image.url }}" alt="{{ listing.title }}"
                         title="{{ listing.title }}"/>
                {% endthumbnail %}
                <a href="{{ listing.get_absolute_url }}" title="{{ listing.title }}">{{ listing.title }}</a>
                <label>{% trans "Price" %}: <span>{{ listing.price|currency }}</span></label>
                <p>{{ listing.descripcion|safe|truncatewords_html:25 }}</p>
            </li>
        {% endfor %}
    </ul>
</div>