{% extends 'base_theme.html' %}
{% load extra_functions thumbnail i18n realestate_utils realestateforms %}
{% block title %}{{ propiedad.titulo }} | WILLIAMSMENDEZ.COM{% endblock %}
{% block content %}

    <div class="modal hide" id="mapModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">Close</button>
        </div>
        <div class="modal-body">
            <iframe width="620" height="414"
                    src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q={{ propiedad.coordenadas }}&amp;aq=&amp;sll={{ propiedad.coordenadas }}&amp;sspn={{ propiedad.coordenadas }}&amp;ie=UTF8&amp;t=m&amp;ll={{ propiedad.coordenadas }}&amp;spn={{ propiedad.coordenadas }}&amp;z=14&amp;output=embed"></iframe>
        </div>
    </div>
    <div class="modal hide" id="streetModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">Close</button>
        </div>
        {% comment %}
        <div class="modal-body">
            <iframe width="620" height="414"
                    src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q={{ propiedad.coordenadas }}&amp;aq=&amp;sll={{ propiedad.coordenadas }}&amp;sspn=0.009692,0.027874&amp;ie=UTF8&amp;t=m&amp;layer=c&amp;cbll={{ propiedad.coordenadas }}&amp;panoid=RxBbTTBT6Uh_6ze7kq0kJQ&amp;cbp=13,70.35,,0,9.98&amp;ll={{ propiedad.coordenadas }}&amp;spn=0.022145,0.053215&amp;z=14&amp;output=svembed"></iframe>
        </div>
        {% endcomment %}
    </div>


    <div class="row">

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-5">
                    <h3>{{ propiedad.titulo }}</h3>
                    <h6>{{ propiedad.get_address }}</h6>
                </div>
                <div class="span3 text-right">
                    <h2>{{ propiedad.precio|currency }}</h2>
                </div>
            </div>

            <div class="row">
                <br/>

                <div class="col-md-8">
                    <!-- Start slideshow-carousel -->
                    <div id="showcase-loader"></div>
                    <div id="showcase" class="showcase">
                        {% for imagen in propiedad.imagenpropiedad_set.all %}
                            {% thumbnail imagen.imagen "620x410" crop="center" as bigimage %}
                                {% thumbnail imagen.imagen "116x90" crop="center" as thumb %}

                                    <div class="showcase-slide">
                                        <div class="showcase-content">
                                            <img src="{{ bigimage.url }}" alt="{{ bigimage.titulo }}"/>
                                        </div>
                                        <div class="showcase-thumbnail">
                                            <img src="{{ thumb.url }}" alt="{{ thumb.titulo }}"/>

                                            <div class="showcase-thumbnail-cover"></div>
                                        </div>
                                    </div>
                                {% endthumbnail %}
                            {% endthumbnail %}
                        {% endfor %}
                    </div>
                    <!-- // end of slideshow-carousel -->

                </div>
            </div>
            <div class="row">
                <br/>

                <div class="col-md-8">
                    <h4>Características</h4>

                    <div class="row">
                        {% listado_features propiedad %}
                    </div>

                    <h4>Descripción</h4>

                    <p>{{ propiedad.descripcion }}</p>
                    <br/>

                    <h4>Otras propiedades en esta área</h4>
                    <ul class="thumbnails">
                        {% for en_area in propiedad.propiedades_en_el_area %}
                            <li class="col-md-2">
                                <div class="thumbnail mini_property">
                                    <a href="{{ en_area.get_absolute_url }}">
                                        {% thumbnail en_area.imagen_principal.imagen "130x87" crop="center" as image %}
                                            <img src="{{ image.url }}" alt="{{ en_area.titulo }}">
                                        {% endthumbnail %}
                                    </a>
                                    <h5>Precio : {{ en_area.precio|currency }}</h5>

                                    <p><a href="{{ en_area.get_absolute_url }}">{{ en_area.titulo }}</a><br/>
                                        {{ en_area.get_address }}
                                    </p>
                                </div>
                            </li>
                        {% empty %}
                            No hay más propiedades en esta área.
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
        <div class="span4 pull-right" id="portamento_container">
            <div id="property_map" class="center">
                <a href="#mapModal">
                    <img src="http://maps.google.com/staticmap?center={{ propiedad.coordenadas }}&amp;zoom=14&amp;size=250x250&amp;maptype=mobile&amp;markers={{ propiedad.coordenadas }},red&amp;key=ABQIAAAAqQJ-gFBKUbBLaFN1HQF4KBQ_k2Fxd8XZtbWUsvz5Vrarxzf2SRSh7DRXLQmAZ-6XwtrmMhkINGT27A&amp;sensor=false"
                         alt=""/>
                </a>

                <p>
                    <br/>
                    <a data-toggle="modal" href="#mapModal">Agrandar Mapa</a><br/>
                    {#                    <a data-toggle="modal" href="#streetModal">Street view</a><br/>#}
                    {#                <a href="compare.html">Compare this property with others</a>#}
                </p>
                <hr/>
            </div>
            <div id="contact_agent" class="center">

                <a href="#">
                    {% thumbnail propiedad.agente.fotografia "108x108" crop="center" as imagen_agente %}
                        <img src="{{ imagen_agente.url }}" alt="{{ propiedad.agente }}"/>
                    {% endthumbnail %}
                </a>

                <p>{{ propiedad.agente }}<br/>
                    {{ propiedad.agente.user.email }}
                    {% if propiedad.agente.telefono %}<br/>Tel. {{ propiedad.agente.telefono }}{% endif %}
                    {% if propiedad.agente.celular %}<br/>Móvil. {{ propiedad.agente.celular }}{% endif %}
                </p>

                <h4>Contactar este agente</h4>

                <form class="form-inline" method="post" action="">
                    {% csrf_token %}
                    <fieldset>
                        {% for field in form %}
                            <div class="control-group{% if field.errors %} error{% endif %}">
                                <div class="controls">
                                    {{ field|widget_with_placeholder:field.name }}
                                    {% if field.errors %}
                                        <span class="help-inline">{{ field.errors }}</span>
                                    {% endif %}
                                </div>
                            </div>

                        {% endfor %}
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary btn-large">Contactar agente</button>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>

{% endblock %}