{% extends 'dashboard/base.html' %}
{% load i18n %}
{% block content-header %}
    <h1>{% trans "API Keys" %}</h1>
{% endblock %}
{% block content %}

    <a href="{% url 'add-apikey' %}" class="btn btn-info btn-flat">{% trans "Add New" %}</a>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{% trans "API Keys" %}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive">
            <div id="api_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <div class="row">
                    <div class="col-xs-6"></div>
                    <div class="col-xs-6"></div>
                </div>
                <table id="api_keys" class="table table-bordered table-hover dataTable"
                       aria-describedby="api_info">
                    <thead>

                    <tr role="row">
                        <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" aria-label="">
                            {% trans "Description" %}
                        </th>
                        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="api_keys" rowspan="1"
                            colspan="1" aria-sort="ascending"
                            aria-label="Rendering engine: activate to sort column descending"> {% trans "Key" %}
                        </th>
                        <th></th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th rowspan="1" colspan="1">{% trans "Description" %}</th>
                        <th rowspan="1" colspan="1">{% trans "Key" %}</th>
                        <th></th>
                    </tr>
                    <tr></tr>
                    </tfoot>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    {% for key in object_list %}
                        <tr class="{% cycle 'even' 'odd' %}">
                            <td class=" sorting_1">{{ key.description }}</td>
                            <td class="">{{ key.key }}</td>
                            <td><a href="{% url 'delete-apikey' key.key %}" class="btn btn-danger">{% trans "Delete" %}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.box-body -->
    </div>

{% endblock %}