{% load i18n %}
<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        {#        <div class="user-panel">#}
        {#            <div class="pull-left image">#}
        {#                <img src="img/avatar3.png" class="img-circle" alt="User Image"/>#}
        {#            </div>#}
        {#            <div class="pull-left info">#}
        {#                <p>Hello, Jane</p>#}
        {##}
        {#                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>#}
        {#            </div>#}
        {#        </div>#}
        <!-- search form -->
        {#        <form action="#" method="get" class="sidebar-form">#}
        {#            <div class="input-group">#}
        {#                <input type="text" name="q" class="form-control" placeholder="Search..."/>#}
        {#                            <span class="input-group-btn">#}
        {#                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i#}
        {#                                        class="fa fa-search"></i></button>#}
        {#                            </span>#}
        {#            </div>#}
        {#        </form>#}
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            {#            <li class="active">#}
            <li>
                <a href="{% url 'dashboard' %}">
                    <i class="fa fa-dashboard"></i> <span>{% trans "Dashboard" %}</span>
                </a>


            </li>
            <li class="treeview">
                <a href="{% url 'admin-list-listing' %}">
                    <i class="fa fa-home"></i> <span>{% trans "Listings" %}</span>
                </a>

            </li>
            <li class="treeview">
                <a href="{% url 'admin-list-cities' %}">
                    <i class="fa fa-building-o"></i> <span>{% trans "Cities" %}</span>
                </a>

            </li>
            <li class="treeview">
                <a href="{% url 'admin-list-sectors' %}">
                    <i class="fa fa-map-marker"></i> <span>{% trans "Sectors" %}</span>
                </a>

            </li>
            <li>
                <a href="{% url 'admin-list-agents' %}">
                    <i class="fa fa-briefcase"></i> <span>{% trans "Agents" %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admin-list-contacts' %}">
                    <i class="fa fa-user"></i> <span>{% trans "Contacts" %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admin-list-users' %}">
                    <i class="fa fa-users"></i> <span>{% trans "Users" %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'dashboard-settings' %}">
                    <i class="fa fa-cogs"></i> <span>{% trans "Settings" %}</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>