{% load i18n %}
<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">


        <ul class="sidebar-menu">
            {#            <li class="active">#}
            <li>
                <a href="{% url 'dashboard' %}">
                    <i class="fa fa-dashboard"></i> <span>{% trans "Dashboard" %}</span>
                </a>


            </li>
            <li class="treeview">
                <a href="{% url 'admin-list-listing' %}">
                    <i class="fa fa-home"></i> <span>{% trans "Listings" %}</span>
                </a>

            </li>
            <li class="treeview">
                <a href="{% url 'admin-list-deals' %}">
                    <i class="fa fa-home"></i> <span>{% trans "Deals" %}</span>
                </a>

            </li>
            <li class="treeview">
                <a href="{% url 'admin-list-sectors' %}">
                    <i class="fa fa-map-marker"></i> <span>{% trans "Locations" %}</span>
                </a>

            </li>
            <li>
                <a href="{% url 'admin-list-agents' %}">
                    <i class="fa fa-briefcase"></i> <span>{% trans "Agents" %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admin-list-contacts' %}">
                    <i class="fa fa-user"></i> <span>{% trans "Contacts" %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admin-list-users' %}">
                    <i class="fa fa-users"></i> <span>{% trans "Users" %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admin-api-keys' %}">
                    <i class="fa fa-key"></i> <span>{% trans "API Keys" %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'dashboard-settings' %}">
                    <i class="fa fa-cogs"></i> <span>{% trans "Settings" %}</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>