{% load i18n thumbnail %}

<ul class="thumbnails">
    {% for listing in page_obj %}
        <li class="col-md-2">
            <div class="thumbnail mini_property">
                <a href="{{ listing.get_absolute_url }}">
                    {% thumbnail listing.main_image.image "135x90" crop="center" as image %}
                        <img align="middle" src="{{ image.url }}" alt="{{ listing.title }}"
                             title="{{ listing.title }}"/>
                    {% endthumbnail %}
                </a>
                <h5>{% trans "Price" %} : {{ listing.price }}</h5>

                <p>
                    <a href="{{ listing.absolute_url }}">{{ listing.title }}</a><br>{{ listing.address }}
                </p>
            </div>
        </li>
    {% empty %}
        <h4>No hay propiedades a mostrar.</h4>
    {% endfor %}
</ul>
