{% load extra_functions thumbnail %}


{% for listing in results.object_list %}
    <div class="row ">
        <div class="col-md-2">
            <a href="{{ listing.get_absolute_url }}" class="thumbnail">
                {% thumbnail listing.imagen_principal.imagen "135x90" crop="center" as image %}
                    <img align="middle" src="{{ image.url }}" alt="{{ listing.title }}"
                         title="{{ listing.title }}"/>
                {% endthumbnail %}
            </a>
            <h5>Precio: {{ listing.price|currency }}</h5>
            <h6>Dormitorios: {{ listing.dormitorios }}</h6>
            {#            <h6>Days on site: 4</h6>#}
            <h6>Área Const.: {{ listing.tamano_construccion }} mt&sup2;</h6>
        </div>

        <div class="col-md-6">
            <a href="{{ listing.get_absolute_url }}"><h3>{{ listing.title }}</h3></a>

            <p>{{ listing.descripcion }}</p>

            <p><a href="{{ listing.get_absolute_url }}">Más detalles, {{ listing.images.count }} fotos,
                etc</a>
                {#                | <a href="#">Save listing</a> | <a href="#">Contact agent</a> | <a href="#">Upgrade listing</a>#}
            </p>

            {#            <p>Marketed by Knight Frank, Richmond. Telephone: 0843 314 8224 <a href="#">BT 4p/min</a></p>#}
        </div>
    </div>
    <hr/>
{% empty %}
    <h4>No hay propiedades a mostrar.</h4>
{% endfor %}

