{% load i18n %}
<div class="header-bottom">
    <!-- Navigation Level 2 (Drop-down menus) -->
    <div class="nav2">
        <ul>
            <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
        </ul>
        <ul>
            <li><a href="{% url 'search' %}">{% trans "Listings" %}</a></li>
        </ul>
        <ul>
            <li class="dir"><a href="{% url 'properties_for_sale' %}">{% trans "For Sale" %}</a>
                <ul>
                    <li><a href="{% url 'properties_for_sale' 'apartment' %}">{% trans "Apartments" %}</a></li>
                    <li><a href="{% url 'properties_for_sale' 'house' %}">{% trans "Houses" %}</a></li>
                    <li><a href="{% url 'properties_for_sale' 'office' %}">{% trans "Offices" %}</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li class="dir"><a href="{% url 'properties_for_rent' %}">{% trans "For Rent" %}</a>
                <ul>
                    <li><a href="{% url 'properties_for_rent' 'apartamento' %}">{% trans "Apartments" %}</a></li>
                    <li><a href="{% url 'properties_for_rent' 'casa' %}">{% trans "Houses" %}</a></li>
                    <li><a href="{% url 'properties_for_rent' 'local' %}">{% trans "Offices" %}</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li><a href="{% url 'home_contact' %}">{% trans "Contact Us" %}</a></li>
        </ul>
    </div>
</div>