{% load i18n %}
<ul class="pagination">
    {% if previous %}
        <li><a href="{{ previous }}">{% trans "Previous" %}</a></li>
    {% else %}
        <li class="disabled"><a href="#">{% trans "Previous" %}</a></li>
    {% endif %}
    {% for link in links %}
        <li{% if link.page == current %} class="active"{% endif %}>
            <a href="{{ link.href }}">{{ link.page }}</a>
        </li>
    {% endfor %}
    {% if next %}
        <li><a href="{{ next }}">{% trans "Next" %}</a></li>
    {% else %}
        <li class="disabled"><a href="#">{% trans "Next" %}</a></li>
    {% endif %}
</ul>