{% load home_widgets %}
<!-- B.3 SUBCONTENT -->
<div class="main-subcontent">
    <!-- Subcontent unit -->
    <div class="subcontent-unit-border-blue">
        <div class="round-border-topleft"></div>
        <div class="round-border-topright"></div>
        <div>
          {% news_widget %}
        </div>
    </div>
    <div class="subcontent-unit-border-blue">
        <div class="round-border-topleft"></div>
        <div class="round-border-topright"></div>
        <div>
          {% links_widget %}
        </div>
    </div>
</div>
