{% extends 'base_theme.html' %}
{% load extra_functions  thumbnail render_form static homepage i18n realestate_utils %}
{% block extra_js %}
{% endblock %}


{% block content %}

    <div class="row">

        <div class="col-md-3 thumbnail">
            {% get_search_form %}
        </div>
        <div class="col-md-9">
            {% frontpage_carousel %}
        </div>
    </div>

    <div class="row">
        <br/>

        <div class="col-md-4">
            <h3>Localidades <span>populares</span></h3>

            <div id="home_map_canvas"></div>

        </div>
        <div class="col-md-8">
            {% get_featured %}
        </div>

    </div>


{% endblock %}