<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link rel="alternate" type="application/rss+xml" title="RSS [Templates]" href="http://feeds2.feedburner.com/themecss" />
<link rel="shortcut icon" href="http://www.themecss.com/img/favicon.ico" />

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.trigger.js"></script>
<script type="text/javascript" src="js/jqFancyTransitions.js"></script>
<script type="text/javascript" src="js/dropdown.js"></script>
<script type="text/javascript" src="js/tooltip.js"></script>

<!--[if lt IE 7]>
<script src="js/DD_belatedPNG_0.0.8a-min.js"></script>
<script>DD_belatedPNG.fix('html, body, div, img');</script>
<![endif]-->

<title>Home Guide Template</title>
</head>

<body>

<!--CONTAINER-->
<div class="container">

    <div class="logo-menu clear">
		<div class="logo"><a href="index.htm"></a></div>
		<div class="menu">
			<ul class="sprite">
				<li><a href="index.htm" class="activelink"><span></span>Home</a></li>
				<li><a href="buying.htm"><span></span>Buying</a></li>
				<li><a href="renting.htm"><span></span>Renting</a></li>
				<li><a href="selling.htm"><span></span>Selling</a></li>
				<li><a href="aboutus.htm"><span></span>About us</a></li>
				<li><a href="contact.htm"><span></span>Contact</a></li>
			</ul>
		</div>
	</div>
	&nbsp;

	<div class="top-curve"></div>

	<div class="contents">

		<div class="featured-search clear">
			<div class="featured">
				<img src="img/seal.png" alt="" class="seal" />

				<div id='slideshowHolder'>
					<img src="img/listings/large/mainpic1.jpg" alt="" />
					<img src="img/listings/large/mainpic2.jpg" alt="" />
					<img src="img/listings/large/mainpic3.jpg" alt="" />
				</div>

				<script type="text/javascript">
					$('#slideshowHolder').jqFancyTransitions({ 'navigation' : true });
				</script>

			</div>
			<div class="search">
				<h2>Find your property</h2>
				<img src="img/icons/search.png" alt="" />
				<form action="#" method="post">
					<p><label>City and State, or Zip</label></p>
					<p><input type="text" name="city-state-zip" /></p>
					<p><label>Search Area Location</label></p>
					<p>
						<select name="area-location" class="changeMe options" style="width:240px;">
							<option value="" selected="selected">Please choose options</option>
							<option value="philippines">Philippines</option>
							<option value="united states">United States</option>
							<option value="california">California</option>
							<option value="japan">Japan</option>
							<option value="china">China</option>
							<option value="south-korea">South Korea</option>
							<option value="north-korea">North Korea</option>
							<option value="seattle">Seattle</option>
						</select>
					</p>
					<ul class="clear">
						<li class="left">
							<p><label>Price Range From</label></p>
							<p>
								<select name="area-location" class="changeMe price-options" style="width:114px;">
									<option value="" selected="selected">From</option>
									<option value="100,000">100,000</option>
									<option value="200,000">200,000</option>
									<option value="300,000">300,000</option>
									<option value="400,000">400,000</option>
									<option value="500,000">500,000</option>
								</select>
							</p>
						</li>
						<li class="right">
							<p><label>Price Range To</label></p>
							<p>
								<select name="area-location" class="changeMe price-options" style="width:114px;">
									<option value="" selected="selected">To</option>
									<option value="100,000">600,000</option>
									<option value="100,000">700,000</option>
									<option value="300,000">800,000</option>
									<option value="400,000">900,000</option>
									<option value="500,000">1,000,000</option>
								</select>
							</p>
						</li>
					</ul>
					<p><label>Bedrooms</label></p>
					<p>
						<select name="bedrooms" class="changeMe options" style="width:240px;">
							<option value="" selected="selected">Please choose Bedrooms</option>
							<option value="1-10">1-10</option>
							<option value="11-20">11-20</option>
							<option value="21-30">21-30</option>
							<option value="31-40">31-40</option>
							<option value="41-50">41-50</option>
							<option value="51-60">51-60</option>
							<option value="61-70">61-70</option>
							<option value="71-80">71-80</option>
						</select>
					</p>
					<p>
						<input type="submit" name="btsearch" value="Search" class="btnsearch" />
						<input type="button" name="btadvancesearch" value="Advanced Search" class="btnadvance" />
					</p>
				</form>
			</div>
		</div>

		<div class="browse-listings">
			<div class="browse clear">
				<h2>Browse more listings</h2>
				<img src="img/icons/browse.png" alt="" />
				<ul id="navigation-feature">
					<li id="feature-tab1"><a href="#" class="active">Condominium</a> |&nbsp;</li>
					<li id="feature-tab2"><a href="#">Apartment</a> |&nbsp;</li>
					<li id="feature-tab3"><a href="#">House and Lot</a></li>
				</ul>
			</div>

			<ul id="feature">
				<li class="feat" style="display:list-item;" id="feature1">
					<div class="list-slide">
						<ul class="listings clear">
							<li class="first">
								<img src="img/listings/thumbnails/listing1.jpg" alt="" />
								<a href="listing.htm">Washington Real Estate</a>
								<p>
									Pellentesque lorem ultricies odio montes sit non montes odio ridiculus adipiscing? Dignissim sed lorem ac magna placerat lundium, cum vel diam, nascetur vut, arcu integer magna enim porta.
								</p>
								<label>Price: <span>$400,000.00</span></label>
							</li>
							<li>
								<img src="img/listings/thumbnails/listing2.jpg" alt="" />
								<a href="listing.htm">California Real Estate</a>
								<p>
									Pellentesque lorem ultricies odio montes sit non montes odio ridiculus adipiscing? Dignissim sed lorem ac magna placerat lundium, cum vel diam, nascetur vut, arcu integer magna enim porta.
								</p>
								<label>Price: <span>$700,000.00</span></label>
							</li>
							<li>
								<img src="img/listings/thumbnails/listing3.jpg" alt="" />
								<a href="listing.htm">United States Real Estate</a>
								<p>
									Pellentesque lorem ultricies odio montes sit non montes odio ridiculus adipiscing? Dignissim sed lorem ac magna placerat lundium, cum vel diam, nascetur vut, arcu integer magna enim porta.
								</p>
								<label>Price: <span>$900,000.00</span></label>
							</li>
							<li>
								<img src="img/listings/thumbnails/listing4.jpg" alt="" />
								<a href="listing.htm">San Diego Condominiums</a>
								<p>
									Pellentesque lorem ultricies odio montes sit non montes odio ridiculus adipiscing? Dignissim sed lorem ac magna placerat lundium, cum vel diam, nascetur vut, arcu integer magna enim porta.
								</p>
								<label>Price: <span>$100,000.00</span></label>
							</li>
						</ul>
					</div>
				</li>
				<li class="feat" style="display:none;" id="feature2">
					<div class="list-slide">
						<ul class="listings clear">
							<li class="first">
								<img src="img/listings/thumbnails/listing3.jpg" alt="" />
								<a href="listing.htm">United States Real Estate</a>
								<p>
									Pellentesque lorem ultricies odio montes sit non montes odio ridiculus adipiscing? Dignissim sed lorem ac magna placerat lundium, cum vel diam, nascetur vut, arcu integer magna enim porta.
								</p>
								<label>Price: <span>$400,000.00</span></label>
							</li>
							<li>
								<img src="img/listings/thumbnails/listing4.jpg" alt="" />
								<a href="listing.htm">San Diego Condominiums</a>
								<p>
									Pellentesque lorem ultricies odio montes sit non montes odio ridiculus adipiscing? Dignissim sed lorem ac magna placerat lundium, cum vel diam, nascetur vut, arcu integer magna enim porta.
								</p>
								<label>Price: <span>$700,000.00</span></label>
							</li>
							<li>
								<img src="img/listings/thumbnails/listing1.jpg" alt="" />
								<a href="listing.htm">Washington Real Estate</a>
								<p>
									Pellentesque lorem ultricies odio montes sit non montes odio ridiculus adipiscing? Dignissim sed lorem ac magna placerat lundium, cum vel diam, nascetur vut, arcu integer magna enim porta.
								</p>
								<label>Price: <span>$900,000.00</span></label>
							</li>
							<li>
								<img src="img/listings/thumbnails/listing2.jpg" alt="" />
								<a href="listing.htm">California Real Estate</a>
								<p>
									Pellentesque lorem ultricies odio montes sit non montes odio ridiculus adipiscing? Dignissim sed lorem ac magna placerat lundium, cum vel diam, nascetur vut, arcu integer magna enim porta.
								</p>
								<label>Price: <span>$100,000.00</span></label>
							</li>
						</ul>
					</div>
				</li>
				<li class="feat" style="display:none;" id="feature3">
					<div class="list-slide">
						<ul class="listings clear">
							<li class="first">
								<img src="img/listings/thumbnails/listing4.jpg" alt="" />
								<a href="listing.htm">San Diego Condominiums</a>
								<p>
									Pellentesque lorem ultricies odio montes sit non montes odio ridiculus adipiscing? Dignissim sed lorem ac magna placerat lundium, cum vel diam, nascetur vut, arcu integer magna enim porta.
								</p>
								<label>Price: <span>$400,000.00</span></label>
							</li>
							<li>
								<img src="img/listings/thumbnails/listing3.jpg" alt="" />
								<a href="listing.htm">United States Real Estate</a>
								<p>
									Pellentesque lorem ultricies odio montes sit non montes odio ridiculus adipiscing? Dignissim sed lorem ac magna placerat lundium, cum vel diam, nascetur vut, arcu integer magna enim porta.
								</p>
								<label>Price: <span>$700,000.00</span></label>
							</li>
							<li>
								<img src="img/listings/thumbnails/listing2.jpg" alt="" />
								<a href="listing.htm">California Real Estate</a>
								<p>
									Pellentesque lorem ultricies odio montes sit non montes odio ridiculus adipiscing? Dignissim sed lorem ac magna placerat lundium, cum vel diam, nascetur vut, arcu integer magna enim porta.
								</p>
								<label>Price: <span>$900,000.00</span></label>
							</li>
							<li>
								<img src="img/listings/thumbnails/listing1.jpg" alt="" />
								<a href="listing.htm">Washington Real Estate</a>
								<p>
									Pellentesque lorem ultricies odio montes sit non montes odio ridiculus adipiscing? Dignissim sed lorem ac magna placerat lundium, cum vel diam, nascetur vut, arcu integer magna enim porta.
								</p>
								<label>Price: <span>$100,000.00</span></label>
							</li>
						</ul>
					</div>
				</li>
			</ul>

		</div>

		<div class="aboutus-guidelines clear">
			<div class="aboutus">
				<h2>About us <span>Who are we?</span></h2>
				<a href="aboutus.htm"><img src="img/aboutpic.jpg" alt="" /></a>
				<p>
					<strong>Porttitor enim rhoncus. Aliquam, magna cras, nisi in lorem? Adipiscing porttitor turpis nec velit</strong>, ut, nascetur odio dapibus habitasse lundium rhoncus natoque urna placerat ridiculus et odio sed odio magna placerat ridiculus porta nisi sit tortor turpis aenean non sed, magna cum, ut non? Dignissim sagittis. Diam duis velit parturient odio turpis ac, odio mid urna cum amet risus? Magna lundium et nec sed elementum, in parturient, auctor magna, tincidunt rhoncus nunc mid aliquet enim! Vel mauris augue. Enim cursus amet magna in augue, penatibus amet augue eu porttitor.
				</p>
			</div>
			<div class="guidelines">
				<h2>Guidelines <span>Know  our real estate guidelines</span></h2>
				<ul class="clear">
					<li>
						<a href="#"><img src="img/icons/selling-properties.png" alt="" /> <strong>Selling properties to our Customers</strong></a>
					</li>
					<li>
						<a href="#"><img src="img/icons/selling-home.png" alt="" /> <strong>Thinking of selling your own home</strong></a>
					</li>
					<li>
						<a href="#"><img src="img/icons/most-trusted.png" alt="" /> <strong>Most trusted Real Estate Company</strong></a>
					</li>
					<li>
						<a href="#"><img src="img/icons/relocation.png" alt="" /> <strong>Relocation Solutions for your home</strong></a>
					</li>
					<li>
						<a href="#"><img src="img/icons/rates.png" alt="" /> <strong>Current Mortgage Rates</strong></a>
					</li>
					<li>
						<a href="#"><img src="img/icons/find-home.png" alt="" /> <strong>Find your perfect home</strong></a>
					</li>
				</ul>
			</div>
		</div>

	</div>

	<div class="bottom-curve"></div>

	<div class="footer clear">
		<div class="copyright">
			Copyright &copy; 2010. House Guide. All Rights Reserved. Icons by: <a href="http://iconeden.com/">IconEden</a> + <a href="http://komodomedia.com/">Komodomedia</a> + <a href="http://famfamfam.com/">FamFamFam</a>
		</div>
		<ul class="sociables">
			<li>Link to us</li>
			<li><a href="#" class="tooltip" title="Facebook"><img src="img/icons/facebook.png" alt="" /></a></li>
			<li><a href="#" class="tooltip" title="Twitter"><img src="img/icons/twitter.png" alt="" /></a></li>
		</ul>
	</div>

</div>

</body>

</html>